<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="text-align: center;">Home</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>

<ion-content [fullscreen]="true" id="homeContent">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle >The Rickiest of Ricks</ion-card-subtitle>
      <ion-card-title >Sr. Rick
        <ion-img style="margin: auto; width: 400px; height: 400px;" src="../assets/Pictures/Avatar1.png"></ion-img>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Never Give in and Never Let Anyone Down.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      
      <ion-text slot="start">
        <h4>Strength<br></h4>
      </ion-text>
      <ion-progress-bar id = "setBottom" value="0.9" ></ion-progress-bar>
      <ion-img style="width: 40px; height: 40px;" src="../assets/Pictures/strength.png"></ion-img>
      <ion-text slot="end">
        <h4 style="text-align: center;">Level 40</h4>
      </ion-text>
    </ion-item>

    <ion-item href="#">
      <ion-text slot="start">
        <h4>Running</h4>
      </ion-text>
      <ion-progress-bar value="0.5" id = "setBottom"></ion-progress-bar>
      <ion-img style="width: 40px; height: 40px;" src="../assets/Pictures/Shoes.png"></ion-img>
      <ion-text slot="end">
        <h4 style="text-align: center;">Level 37</h4>
      </ion-text>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-text slot="start">
        <h4>Cleaning</h4>
      </ion-text>
      <ion-progress-bar value="0.2" id = "setBottom"></ion-progress-bar>
      <ion-img style="width: 40px; height: 40px;" src="../assets/Pictures/Cleaning.png"></ion-img>
      <ion-text slot="end">
        <h4 style="text-align: center;">Level 13</h4>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text slot="start">
        <h4>Homework</h4>
      </ion-text>
      <ion-progress-bar value="0.1"id = "setBottom"></ion-progress-bar>
      <ion-img style="width: 40px; height: 40px;" src="../assets/Pictures/strength.png"></ion-img>
      <ion-text slot="end">
        <h4 style="text-align: center;">Level 45</h4>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text slot="start">
        <h4>Responsibility</h4>
      </ion-text>
      <ion-progress-bar value="0.24" id = "setBottom"></ion-progress-bar>
      <ion-img style="width: 40px; height: 40px;" src="../assets/Pictures/Responsible.png"></ion-img>
      <ion-text slot="end">
        <h4 style="text-align: center;">Level 62</h4>
      </ion-text>
    </ion-item>
  </ion-card>
  <!-- <app-explore-container name="5th Cohort Elites"></app-explore-container> -->
</ion-content>