<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="text-align: center;">Quests</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-quest-container checked=false quest="Finish the App"></app-quest-container>
  <app-quest-container checked=false quest="For for run"></app-quest-container>
  <app-quest-container checked=false quest="Wash the dishes"></app-quest-container>
  <app-quest-container checked=false quest="Workout"></app-quest-container>
  <app-quest-container checked=false quest="Mow the lawn"></app-quest-container>
  <app-quest-container checked=true quest="Rick roll someone"></app-quest-container>
</ion-content>
<ion-button expand="block" style="width: 50%; align-self: center;">Add Quest</ion-button>

