<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-checkbox color="dark"  slot="start"></ion-checkbox>
        <ion-label>Go for run</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox color="dark"  slot="start"></ion-checkbox>
        <ion-label>Wash the dishes</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox color="dark"  slot="start"></ion-checkbox>
        <ion-label>Workout</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox color="dark"  slot="start"></ion-checkbox>
        <ion-label>Mow the lawn</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
        <ion-label>Rick roll someone</ion-label>
    </ion-item>
</ion-content>
