<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="text-align: center;">Quests</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let item of quests">
      <app-quest-container [checked]="item.checked" [quest]="item.title"></app-quest-container>
    </div>
  </ion-list>
</ion-content>


<ion-button (click)="showModal()" expand="block" style="width: 50%; align-self: center;">Add Quest</ion-button>

