<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      <h1 style="text-align: center;">Equip</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>The Rickiest of Ricks</ion-card-subtitle>
      <ion-card-title>Sr. Rick
        <ion-img style="margin: auto; width: 400px; height: 400px;" src="../assets/Pictures/Avatar1.png"></ion-img>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Never Give in and Never Let Anyone Down.
    </ion-card-content>
  </ion-card>
</ion-content>
