<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="text-align: center;"> Skills</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
    <ion-list>
    <div *ngFor="let item of skills">
      <app-skill-container [skill]="item.skill" [progress]="item.progress" [icon]="item.icon" [level]="item.level"></app-skill-container>
    </div>
  </ion-list>
</ion-card>

<ion-button (click)="showModal()" expand="block" style="width: 50%; align-self: center;">Add Skills</ion-button>